
@{
    ViewBag.Title = "Validate";
}
<script src="~/JS/function.js"></script>
<h2>Validate</h2>

<form action="Validate">

    Name: <input id="Name" type="text"/>
    Age: <input id="Age" type="text"/>
    <input id="Submit1" type="submit" value="submit" onclick="ValidateInputs()" />
</form>
